body {
    margin: 0px;
    background-color: darkgrey;
    font-family: Montserrat, sans-serif;
}

.header-content {
    text-align: center;
}

.header-title {
    position: relative;
    padding: 3%;
    font-family: Poiret One, sans-serif;
    font-size: 30px;
    text-shadow: darkslateblue 2px 2px;
}

.header {
    background: #000000 url("../img/seattle.jpeg") no-repeat center right;
    background-size: auto 400px;
    color: #f6f6f6;
    height: 395px;
}

div.nav {
    background-color: #313335;
}

ul.navbar {
    list-style: none;
    margin: 0px;
}

ul.navbar li {
    display: inline-block;
    padding-top: 16px;
    padding-bottom: 16px;
}

ul.navbar li a {
    text-decoration: none;
    color: white;
    text-shadow: black 1px 1px 1px;
    padding: 15px;
    font-size: 25px;
    font-family: Questrial, sans-serif;
}

ul.navbar li a:hover {
    color: white;
    text-shadow: black 2px 2px 5px;
}

ul.navbar li:hover {
    background-color: #858585;
}

ul.navbar li.active a:hover {
    color: white;
    text-shadow: black 2px 2px 15px;
}

ul.navbar li.active {
    background-color: darkgray;
}

div.content {
    margin-top: 5%;
    padding: 5%;
    background-color: #7b777c;
    text-align: center;
}

div.prof-pic img{
    width: 100%;
    border: 1px inset #221922;
}

div.desc {
    color: white;
    padding: 20px 50px;
    background-color: #221922;
    border-radius: 0px 50px 0px 50px;
    float: right;
    text-align: justify;
}

div.content{
    border-top: 2px solid #313335;
}

div.divider{
    height: 300px;
    border-right: 2px solid #313335;
}

div.assign-list {
    padding: 0px;
}

div.assign-list ul{
    list-style: none;
    padding-left: 0px;
}

div.assign-list ul li {
    padding: 10px;
}

div.assign-list ul li a {
    text-decoration: none;
    color: white;
    text-shadow: black 1px 1px 1px;
    font-size: 40px;
}

div.assign-list ul li a:hover {
    text-shadow: black 2px 2px 15px;
}